/* header */

header {
    .top-nav {
        background-color: var(--secondary-background-color);

        a {
            font-family: clashdisplay;
        }
    }

    .main-nav {
        background-color: var(--triary-background-color);
    }

    nav {
        display: flex;
        width: 100%;
        position: sticky;
        padding: 1rem 5%;

        ul {
            display: flex;
            width: 100%;
            justify-content: end;
            gap: 2rem;

            li {
                display: flex;
                align-items: center;

                a {
                    color: var(--text-color);
                    text-decoration: none;
                }
            }
        }
    }
}

/* main */

main {
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-block: 4em;
        padding-inline: 1em;
        gap: .75em;

        &:nth-of-type(even) {
            background-color: var(--secondary-background-color);
        }

        p {
            width: 80ch;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 2em;
        margin-block-start: 1em;
        background-color: var(--background-color);
        padding: 1.5em;
        border-radius: 1em;
        width: 100%;

        @media (min-width: 37em) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(5, 1fr);
            max-width: 50em;

            grid-template-areas:
                "title author"
                "description date"
                "description status"
                "article article"
                ". button"
            ;
        }

        label {
            display: grid;

            input[type="text"],
            input[type="date"],
            textarea,
            select {
                border-style: solid;
                padding: .9em;
                border-radius: .5em;
                margin: .5em 0 0;
                border: 1px solid #a8afb8;
            }
        }

        button {
            background-color: var(--button-background);
            color: var(--background-color);
            text-decoration: none;
            border-radius: 15px;
            padding: 1.1rem 1.8rem;
        }
    }
}