/* header */

header {
    .top-nav {
        background-color: var(--secondary-background-color);

        a {
            font-family: clashdisplay;
            color: var(--secondary-text-color);
        }
    }

    .main-nav {
        background-color: var(--triary-background-color);
    }

    nav {
        display: flex;
        width: 100%;
        position: sticky;
        padding: 1rem 5%;

        ul {
            display: flex;
            width: 100%;
            justify-content: end;
            gap: 2rem;

            li {
                display: flex;
                align-items: center;

                a {
                    color: var(--text-color);
                    text-decoration: none;
                }
            }
        }
    }
}

/* main */

main {
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-block: 4em;
        padding-inline: 1em;
        gap: .75em;

        .secondary-header {
            color: var(--secondary-text-color);
        }

        &:nth-of-type(even) {
            background-color: var(--secondary-background-color);
        }

        p {
            width: 80ch;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 2em;
        margin-block-start: 1em;
        background-color: var(--background-color);
        padding: 1.5em;
        border-radius: 1em;
        width: 100%;

        @media (min-width: 37em) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(6, 1fr);
            max-width: 50em;

            grid-template-areas:
                "title author"
                "description date"
                "description status"
                "article article"
                "article article"
                ". button"
            ;

            .title {
                grid-area: title;
            }

            .description {
                grid-area: description;
            }

            .date {
                grid-area: date;
            }

            .article {
                grid-area: article;
            }

            .send {
                grid-area: button;
                height: fit-content;
                width: fit-content;
                justify-self: end;
                align-self: flex-end;
            }
        }

        label {
            display: flex;
            flex-direction: column;

            input[type="text"],
            input[type="date"],
            textarea,
            select {
                border-style: solid;
                padding: .9em;
                border-radius: .5em;
                margin: .5em 0 0;
                border: 1px solid #a8afb8;
            }

            textarea {
                height: 100%;
            }
        }

        button {
            background-color: var(--button-background);
            color: var(--text-color);
            text-decoration: none;
            border-radius: 15px;
            padding: 1.1rem 1.8rem;
            border: none;
        }
    }
}

.news-hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-block-start: 5em;
    margin-block-end: 5em;

    background-color: var(--secondary-background-color);

    h1 {
        color: var(--secondary-text-color);
    }

    picture {

        img {
            height: 25em;
            border-radius: 1em 1em 0 0;
        }
    }
}

.news-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
    margin-inline: 5em;
    margin-block-end: 5em;

    article {
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        gap: 1em;
        border-radius: 1em;
        padding: 2em;
        border: 1px solid black;

        section {
            display: flex;
            justify-content: flex-end;
            align-items: baseline;
        }
    }
}